  body {

    background-color: #f5dd42;
  }


  li {

     font-family: "helvetica"; font-size: 30px;

    }


    h1 { 

    font-family: Helvetica; font-size: 95px; background-color: cadetblue; color: azure; text-align: center;


    }
    

    .link-text { 
      
      font-family: verdana; font-weight: bold;
    
    }

    p {

        font-family: Helvetica, sans-serif; font-size: 30px;
    }

    #nav-menu {

        font-family: "Courier New"; font-size: 30px; font-weight: 700; 
    }

    .page-text {

        font-family: 'Courier New', Courier, monospace; font-size: 30px;
    }
    
    img {

        width: auto; height: 500px;

    }

    .button {

        font-size: 25px; font-family: helvetica; font-weight: 700;
    }

